/*------------- 
Header Styles
--------------*/
header {
    background-image: url("../images/header-bg.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    color: #fff;
    padding: 20px 0;
}

/* Header Top  */

.logo {
    max-width: 100px;
}

header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 10px;
    list-style: none;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.fa-chevron-down {
    font-size: 12px;
    cursor: pointer;
}

.dropdown ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    transition: 500ms;
}

.dropdown ul li {
    border-top: 1px solid rgb(87, 76, 76);
    margin-bottom: 10px;
}

.dropdown ul a {
    color: #FFF;
}

.dropdown:hover ul {
    display: block;
    z-index: 1;
}

/* Nav button  */


.login {
    border: 2px solid #FF8A00;
    background-color: #ffffff00;
}

.signup {
    background-color: #FF8A00;
    border: 2px solid #FF8A00;
}

/* Header Bottom  */
.header-bottom-up {
    padding: 100px 0 60px;
    display: flex;
    justify-content: space-between;
}

.header-bottom-up-left,
.header-bottom-down-left,
.header-bottom-down-right {
    width: 50%;
}

.header-bottom-up-right {
    width: 40%;
}

.crypto-title {
    font-size: 64px;
    font-weight: 500;
    line-height: 70px;
}

.crypto-info {
    color: #C6C5E1;
    padding: 20px 0;
}

.header-bottom-up img {
    width: 100%;
}

.header-bottom-down {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.slider-container {
    width: 80%;
}

.range-container {
    text-align: center;
}

.slider {
    width: 100%;
}

input[type="range"] {
    accent-color: #FF8A00;
}

.range-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.range-label {
    flex: 1;
    font-size: 12px;
}

.countdown {
    display: flex;
    justify-content: space-between;
}

.sale {
    width: 300px;
    background-color: #140E32;
    padding: 20px;
    border-radius: 10px;
}

.sale h2 {
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 500;
}

.time h3 {
    font-size: 40px;
    color: #2CCEC3;
    font-weight: bold;
}

/*------------- 
Main Styles
--------------*/

/* Platforms Section  */
#platforms {
    padding: 30px 0;
    min-height: 500px;
    background-image: url("../images/platform-bg.png");
    background-repeat: no-repeat;
    background-position: bottom;

}

.platform-cards {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#line {
    position: absolute;
    left: 25%;
}

.platform-card {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px 0;
    text-align: center;
}

.platform-card img {
    width: 60px;
    background-color: #140E32;
    padding: 10px;
    border: 1px solid #4F34D7;
    border-radius: 10px;
}

.platform-title {
    font-size: 30px;
    font-weight: 500;
}

.platform-text {
    color: #8786A9;
}

/* Why Us Section style  */
#why-us {
    min-height: 600px;
    padding: 40px 0;
    background-image: url("../images/choose-us-bg.png");
    background-repeat: no-repeat;
    background-position: left top;
}

.us {
    display: flex;
    padding: 40px 0;
    align-items: center;
}

.why-us-details {
    padding: 20px;
    background-color: #140E32;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
}

.why-us-thumbnail,
.why-us-details {
    width: 50%;
}

.why-us-thumbnail img {
    width: 80%;
}

.our-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.our-detail img {
    width: 35px;
    height: 35px;
    background-color: #432728;
    padding: 15px;
    border-radius: 50%;
}

.why-us-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.detail-info .subtitle {
    color: #8786A9;
    text-align: left;
}